@import 'tailwindcss';

@theme {
  --color-primary: #31694E;
  --color-secondary: #FAFAFA;
  --color-tertiary: #FF8040;
}

@layer utilities {
  .text-primary {}
  .text-secondary {}
  .text-tertiary {}
}

:root {
  --background: #FAFAFA;
  --foreground: #31694E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
